body {
  font-family: "Tahoma", sans-serif;
}

.carousel img {
  height: 400px;
  object-fit: cover;
}

.card {
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

footer a {
  text-decoration: none;
}