body {
  font-family: 'Cairo', sans-serif;
}




.carousel img {
  height: 400px;
  object-fit: cover;
}

.card {
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

footer a {
  text-decoration: none;
}

.carousel-caption {
  background: rgba(0,0,0,0.4);
  padding: 10px;
  border-radius: 10px;
   bottom: 20%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 40px;
  height: 40px;
}

